"backend/telecom/" 
"__pycache__/" 
"node_modules/" 
"*.pkl" 
"*.joblib" 
"*.dll" 
"telco_churn/Lib/" 
"__pycache__/" 
"node_modules/" 
"*.pkl" 
"*.dll" 
"*.joblib" 
"telco_churn/Lib/" 
"*.dll" 
"*.pkl" 
"*.joblib" 
"__pycache__/" 
"node_modules/" 
"telco_churn/Lib/" 
"*.dll" 
"*.pkl" 
"*.joblib" 
"__pycache__/" 
"node_modules/" 
